*{
	box-sizing: border-box;
}

#social-media-links li:hover{
	border-bottom: 1px solid black;
}

#social-media-links a{
	text-decoration: none;
	color: black;
}



#navbar-headings li:first-child, #social-media-links li:first-child{
	border-left: none;
	padding-left: 0;
}


#social-media-links li{
	border-left: 0.2em solid;
	padding-left: 0.5em;
	padding-right: 0.5em;
	height: 1.5em;
}



#title{
	font-size: 2em
}

.project{
	margin-bottom: 50px;
}



h1{
	margin: 0;
}



@media (max-width: 576px) {
	#social-media-links li, #navbar-headings li{
		border: none;
	}

	#social-media-links li{
		display: block;
	}



}